<% provide :title, t("home.title") %>
<div class="center jumbotron">
  <h1><%= t "home.title" %></h1>
  <h2>
    <%= sanitize t("home.content",
      link: link_to(t("rails_tut"), Settings.rails_tutorial))
    %>
  </h2>
  <%= link_to t("sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
